<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>
      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  </br>
  <div class="well">
    <table>
      <tr>
        <td><%= f.label :reference%></td>
        <td><%= f.label :owner %></td>
        <td><%= f.label :sn %></td>
        <td></td>
        
      </tr>      
      <tr>
        <td><%= f.text_field :reference %></td>
        <td><%= f.text_field :owner %></td>
        <td><%= f.text_field :sn %></td>
        <td></td>
        
      </tr>
      <tr>
        <td><%= f.label :category %></td>
        <td><%= f.label :description %></td>
        <td><%= f.label :delivery_date %></td>
        <td></td>
        
      </tr>      
      <tr>
        <td><%= f.text_field :category %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :delivery_date %></td>
        <td></td>        
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>
            <%= link_to 'Back', devices_path, :class => 'btn btn-mini btn-action' %>
            <%= f.submit :class => 'btn btn-primary btn-mini'%>
          </div>
        </td>        
      </tr>      
    </table>    
  </div>
<% end %>

