<div class="page-header">
  <!--table>
    <tr>
      <th><h3>Devices</h3></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= link_to 'New Device', new_device_path, :class => 'btn btn-primary btn-mini' %></th>
    </tr>
  </table-->
</div>

<table class="table table-striped"> 
  <tr>
    <th>Reference</th>
    <th>Owner</th>
    <th>SN</th>
    <th>Category</th>
    <th>Description</th>
    <th>Delivery date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.reference %></td>
    <td><%= device.owner %></td>
    <td><%= device.sn %></td>
    <td><%= device.category %></td>
    <td><%= device.description %></td>
    <td><%= device.delivery_date %></td>
	<!--td align="right"><%= button_to 'Remove', device, :method => :delete, :class => 'btn btn-danger btn-mini'%></td-->		  
	<td>
		<%= link_to 'Show', device, :class => 'btn btn-action btn-mini'%>
		<%= link_to 'Edit', edit_device_path(device), :class => 'btn btn-action btn-mini'%>
		<%= link_to 'Remove', device, :method => :secure, :class => 'btn btn-danger btn-mini'%>
	</td>	    
  </tr>
<% end %>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th> 
    <th>  <%= link_to 'New Device', new_device_path, :class => 'btn btn-primary btn-mini' %></th>
  </tr>
</table>